/* Make image size smaller only */
@media (max-width: 768px){
    .innovation-photo{
        width: 250px;
    }

    .question-photo{
        width: 250px;
    }
}

/* Pull text below image */
@media (max-width: 500px){
    .innovation-photo{
        width: 300px;
        float: none;
        padding-left: 0px;
    }

    .question-photo{
        width: 300px;
        float: none;
        padding-right: 0px;
    }
}

/* Adjusting image sizes */
@media (max-width: 370px){
    .innovation-photo{
        width: 250px;
    }

    .question-photo{
        width: 250px;
    }
}

/* Making image smaller for smallest possible screen */
@media (max-width: 325px){
    .innovation-photo{
        width: 200px;
    }

    .question-photo{
        width: 200px;
    }
}

