.page-title{
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.caption{
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.header{
    font-weight: bold;
}

.section{
    background-color: #272525;
    border: none;
}

#container-content{
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.innovation-photo{
    width: 325px;
    padding-left: 25px;
    padding-bottom: 25px;
    float: right;
    display: inline-block;
}

.question-photo{
    width: 325px;
    padding-right: 50px;
    padding-bottom: 25px;
    float: left;
    display: inline-block;
}