.page-title{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.captions{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.bg{
    background: url(background.png);
    background-repeat: no-repeat;
    background-color: #242222;
    height: 100%;
}

/* NAVIGATION BAR */
/* "JIGG" */
.navbar-brand{
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 42px;
}

/* "Journal of Innovations in Genetics and Genome Biology" */
.journal-name{
    font-size: 18px;
}

/* Navigation links */
.nav-link{
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    margin-right: 15px;
}

/* Active navigation link */
.active a{
    color: #33FFC7 !important;
}

/* Navigation link dropdown */
.dropdown-menu{
    background: transparent;
}

/* Navigation link dropdown link */
.dropdown-item{
    color: silver;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}
/* END OF NAVIGATION BAR */


.row-space{
    background-color: #272525;
}

/* Styling for header text, section text and list elements */
.header,.section-text, ul{
    color: white;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
}