/* Footer */
.footer{
    background-color: #696969;
}


/* LEFT COLUMN */
/* "CONNECT WITH US */
.socialmedia-title{
    color: whitesmoke;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 24px;
    font-weight: bold;
}

/* Social Media Icons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 15px;
}

/* Gmail */
.fa-google {
    background: #dd4b39;
    color: white;
}
/* END OF LEFT COLUMN */


/* RIGHT COLUMN */
.boxed{
    border: 2px solid silver;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* "SUBSCRIBE TO OUR MAILING LIST */
.subscribe-title{
    color: whitesmoke;
    font-size: 24px;
    margin-left: 15px;
}

/* Form */
#subscribe-form{
    margin-left: 25px;
}

/* Name field/box */
#name-field{
    border: 2px solid grey;
    background-color: transparent;
    margin-left: 5px;
    height: 50px;
}

/* Email field/box */
#email-field{
    border: 2px solid grey;
    background-color: transparent;
    margin-left: 5px;
    height: 50px;
}

/* Name of subscriber */
#subscriber-name{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 175px;
    height: 100%;
    float: right;
}

/* Subscriber's email */
#subscriber-email{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 225px;
    height: 100%;
    float: right;
    
}

/* "Submit" */
#subscribe-button{
    margin-left: 5px;
    font-size: 16px;
    height: 50px;
}

/* Font Awesome Icon */
#checkmark{
    font-size: 12px;
}

/* Controlling stylistic features of form control */
.form-control {
    box-shadow: none!important;
}

form .form-control::-moz-placeholder {
    color: white;
    opacity: 1;
}
form .form-control:-ms-input-placeholder {
    color: white;
}
form .form-control::-webkit-input-placeholder {
    color: white;
}
/* END OF RIGHT COLUMN */


/* DISCLAIMER */
.disclaimer{
    padding-left: 75px;
    padding-right: 75px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* Paragraph */
.disclaimer-paragraph{
    font-size: 12px;
    color: white;
    display: block;
    margin: 15px auto;
}

/* Link to Ulife website */
.disclaimer-link{
    font-size: 12px;
    color: black;
    text-decoration: underline;
}
/* END OF DISCLAIMER */