/* Form control */
@media (max-width: 1200px){
    #name-field{
        margin-bottom: 5px;
    }
    
    #email-field{
        margin-bottom: 5px;
    }
}

@media (max-width: 768px){
    #subscriber-name{
        width: 100px;
    }

    #subscriber-email{
        width: 150px;
        
    }
}

@media (max-width: 300px){ 
    #subscriber-name{
        width: 75px;
    }

    #subscriber-email{
        width: 100px;
        
    }
}


/* Disclaimer container */
@media (max-width: 768px){ 
    .disclaimer{
        padding-left: 25px;
        padding-right: 25px;
    }
}