/* "Journal of Innovations in Genetics and Genome Biology" */
@media (max-width: 576px){
    .journal-name{
        display: none;
    }
}

/* Extra space between posts */
@media (min-width: 1200px){
    .extra-space{
        display: none;
    }
}

/* Pictures for "Recent Issues" section */
@media (max-width: 400px){
    .issue-cover{
        width: 200px;
    }
}

/* Pictures for "Latest News" section */
@media (max-width: 400px){
    .news-picture{
        width: 200px;
        height: 125px;
    }
}

/* Photos for "Featured Research" section */
@media (max-width: 400px){
    .research-photo{
        width: 200px;
        height: 175px;
    }
}