body, html{
    height: 100%;
}

.bg{
    background-image: url("background.jpg");
    height: 100%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}


.navbar-brand{
    color: white;
    font-size: 24px;
}

.nav-link{
    color: #33FFC7;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    margin-right: 15px;
}

.dropdown-item{
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}