.page-title{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.captions{
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.card-img-top{
    width: 100%;
    height: 400px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;   
}

/* Card */
.card-background{
    width: 20rem;
    background-color: #272525;
    border-color: silver;
    display: block;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
}

.card-title{
    color: skyblue;
    font-weight: bold;
}

.card-text{
    color: white;
}