/* Align text to left with smaller screen */
@media (max-width: 768px){
    .page-title{
        text-align: left;
    }

    .caption{
        text-align: left;
    }
}

/* Making image smaller for smallest possible screen */
@media (max-width: 325px){
    .issues-cover{
        width: 175px;
    }
}